.authForm {
  width: 600px;
  margin: 0 auto;
  max-width: 100%;

  &__bottom {
    & > div {
      display: flex;
			justify-content: space-between;

			&:before,
			&:after {
				content: none;
			}
    }
  }
}

.inline-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  .el-input {
    width: 40%;
  }
}